name: Test and Lint

on: [push]

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - run: uv sync --group ci
    - name: Lint with ruff
      run: |
        uv run ruff check

  Type-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: 'recursive'
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
    - run: uv sync --group ci
    - name: Lint with mypy
      run: |
        uv run mypy
